In [1]:
## Load the pickle file

import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

WARNING:tensorflow:From c:\Users\saike\OneDrive\Desktop\Series\DL\ANN CLASSIFICATION PROJECT\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
## Load the traning model, scaler pickle file and one hot pkl file

model = load_model('model.h5')

# load the encoder and scaler

with open('label_encoder_gender.pkl', 'rb') as file:
    label_encoder_gender = pickle.load(file)

with open('ohe_encoder_geo.pkl','rb') as file:
    ohe_encoder_geo = pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler = pickle.load(file)

WARNING:tensorflow:From c:\Users\saike\OneDrive\Desktop\Series\DL\ANN CLASSIFICATION PROJECT\venv\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [3]:
 # Example of input data
input_data = {
'CreditScore': 700,
'Gender': 'Female',
'Geography': 'Spain',
'Age': 40,
'Tenure': 4,
'Balance': 89000,
'NumOfProducts': 3,
'HasCrCard': 1,
'IsActiveMember': 1,
'EstimatedSalary': 80000

}

In [4]:
geo_encoded = ohe_encoder_geo.transform([[input_data['Geography']]]).toarray()

geo_encoded_df = pd.DataFrame(geo_encoded, columns = ohe_encoder_geo.get_feature_names_out())
geo_encoded_df

c:\Users\saike\OneDrive\Desktop\Series\DL\ANN CLASSIFICATION PROJECT\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               0.0                0.0              1.0

In [5]:
input_df = pd.DataFrame([input_data])
input_df

,CreditScore,Gender,Geography,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,700,Female,Spain,40,4,89000,3,1,1,80000

In [6]:
type(input_df)

pandas.core.frame.DataFrame

In [7]:
input_df['Gender'] = label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Gender,Geography,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,700,0,Spain,40,4,89000,3,1,1,80000

In [88]:
input_df

,CreditScore,Gender,Geography,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,700,0,Spain,40,4,89000,3,1,1,80000

In [8]:
input_df = pd.concat([input_df.drop('Geography', axis=1), geo_encoded_df], axis=1)

In [9]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,700,0,40,4,89000,3,1,1,80000,0.0,0.0,1.0

In [10]:
# Scaling the data

input_scaled = scaler.transform(input_df)
input_scaled

array([[ 0.51030417, -1.09720406,  0.10563911, -0.35097656,  0.20420297,
         2.5309157 ,  0.64531434,  0.97165165, -0.36247914, -1.00125078,
        -0.58350885,  1.75368036]])

In [11]:
# Predict churn

prediction = model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 199ms/step

array([[0.99157417]], dtype=float32)

In [12]:
prediction_proba = prediction[0][0]
prediction_proba

0.99157417

In [19]:
if prediction_proba >= 0.5:
    print(f"Customer is likely to churn with {prediction_proba*100:.2f}% ")
else:
    print("Customer is not likely to churn")

Customer is likely to churn with 99.16%