In [56]:
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
import pandas as pd
import numpy as np
import pickle

In [57]:
df = pd.read_csv("Churn_Modelling.csv")

In [58]:
type(df)

pandas.core.frame.DataFrame

In [59]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [60]:
df.drop(columns = ["RowNumber",	"CustomerId",	"Surname"], axis=1, inplace=True)

In [61]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [62]:
label_encoder_gender = LabelEncoder()
df['Gender'] = label_encoder_gender.fit_transform(df['Gender'])

In [63]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [64]:
ohe_encoder_geo = OneHotEncoder()
ohe_geo_encoder = ohe_encoder_geo.fit_transform(df[['Geography']])

In [65]:
ohe_encoder_geo.get_feature_names_out(["Geography"])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [66]:
geo_encoded_df = pd.DataFrame(ohe_geo_encoder.toarray(), columns=ohe_encoder_geo.get_feature_names_out(["Geography"]))

In [67]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [68]:
df.drop("Geography", axis=1, inplace=True)

In [69]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,42,2,0.00,1,1,1,101348.88,1
1,608,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,39,1,0.00,2,0,0,93826.63,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0

In [70]:
df = pd.concat([df, geo_encoded_df], axis=1)

In [71]:
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [75]:
# Save the encoders and scaler as pickel files

with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file) #saving

with open('ohe_encoder_geo.pkl', 'wb') as file:
    pickle.dump(ohe_encoder_geo, file)

In [ ]:
# Split data into indeendent and target features

X =  df.drop("EstimatedSalary", axis=1)
y = df.EstimatedSalary

In [124]:
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,0,1.0,0.0,0.0

In [119]:
y.shape

(10000,)

In [73]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=40)

In [78]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [123]:
X_train.shape

(8000, 12)

In [79]:
with open("scaler.pkl", 'wb') as file:
    pickle.dump(scaler, file)

ANN WITH REGRESSION

In [80]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

In [87]:
#Step 1: Build the model
model = Sequential(
    [
        Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
        Dense(32, activation='relu'),
        Dense(1) # Here for output we dont use any activation function, we just use Linear activation function, which just returns the output
    ]
)

In [92]:
# Step 2: Compile the model

model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

model.summary()

Model: "sequential_5"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_10 (Dense)                │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_11 (Dense)                │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_12 (Dense)                │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [94]:
# Step 3: Logs

from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback =  TensorBoard(log_dir = log_dir, histogram_freq=1)

In [95]:
# Set up early stopping

earlystopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [96]:
# Step 4: Train the model

history = model.fit(
    X_train, y_train, validation_data=[X_test, y_test],
    epochs=100,
    callbacks=[earlystopping_callback, tensorboard_callback]

)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 8ms/step - loss: 100758.2812 - mae: 100758.2812 - val_loss: 99250.7344 - val_mae: 99250.7344
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 100752.8828 - mae: 100752.8828 - val_loss: 97554.1484 - val_mae: 97554.1484
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 97999.7344 - mae: 97999.7344 - val_loss: 93173.9453 - val_mae: 93173.9453
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 91537.2500 - mae: 91537.2500 - val_loss: 86003.4609 - val_mae: 86003.4609
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 85354.1875 - mae: 85354.1875 - val_loss: 76873.7344 - val_mae: 76873.7344
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 74810.0312 - mae: 74810.0312 - val_loss: 67870.3828 - val_mae: 67870.3828
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 65880.6953 - mae: 65880.6953 - val_loss: 60498.5234 - val_mae: 60498.5234
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 58828.8047 - mae: 58828.8047 - val_loss: 55702.0117 - val_mae: 55702.0117
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 54864.2539 - mae: 54864.2539 - val_loss: 53222.0547 - val_mae: 53222.0547
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51781.9609 - mae: 51781.9609 - val_loss: 52082.8750 - val_mae: 52082.8750
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50683.7461 - mae: 50683.7461 - val_loss: 51658.5664 - val_mae: 51658.5664
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49943.4844 - mae: 49943.4844 - val_loss: 51479.8633 - val_mae: 51479.8633
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50754.6992 - mae: 50754.6992 - val_loss: 51394.2656 - val_mae: 51394.2656
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50267.6484 - mae: 50267.6484 - val_loss: 51335.3438 - val_mae: 51335.3438
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49830.2734 - mae: 49830.2734 - val_loss: 51300.7422 - val_mae: 51300.7422
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49444.1797 - mae: 49444.1797 - val_loss: 51264.4375 - val_mae: 51264.4375
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50008.6094 - mae: 50008.6094 - val_loss: 51240.6914 - val_mae: 51240.6914
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49742.0430 - mae: 49742.0430 - val_loss: 51213.4375 - val_mae: 51213.4375
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50866.2109 - mae: 50866.2109 - val_loss: 51186.3945 - val_mae: 51186.3945
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49509.5898 - mae: 49509.5898 - val_loss: 51166.6211 - val_mae: 51166.6211
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 13ms/step - loss: 49879.3672 - mae: 49879.3672 - val_loss: 51144.0508 - val_mae: 51144.0508
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 49247.2070 - mae: 49247.2070 - val_loss: 51124.6914 - val_mae: 51124.6914
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49626.1797 - mae: 49626.1797 - val_loss: 51103.8125 - val_mae: 51103.8125
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49489.3086 - mae: 49489.3086 - val_loss: 51091.2617 - val_mae: 51091.2617
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49394.3555 - mae: 49394.3555 - val_loss: 51065.4609 - val_mae: 51065.4609
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49388.9609 - mae: 49388.9609 - val_loss: 51051.1641 - val_mae: 51051.1641
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49341.1797 - mae: 49341.1797 - val_loss: 51034.0742 - val_mae: 51034.0742
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49367.1523 - mae: 49367.1523 - val_loss: 51021.6133 - val_mae: 51021.6133
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49170.9688 - mae: 49170.9688 - val_loss: 51006.4961 - val_mae: 51006.4961
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49723.2422 - mae: 49723.2422 - val_loss: 50987.9102 - val_mae: 50987.9102
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49917.1797 - mae: 49917.1797 - val_loss: 50976.2383 - val_mae: 50976.2383
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49504.9141 - mae: 49504.9141 - val_loss: 50966.5391 - val_mae: 50966.5391
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49560.4805 - mae: 49560.4805 - val_loss: 50952.0312 - val_mae: 50952.0312
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49316.1172 - mae: 49316.1172 - val_loss: 50945.5078 - val_mae: 50945.5078
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49735.6133 - mae: 49735.6133 - val_loss: 50933.1055 - val_mae: 50933.1055
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49738.8203 - mae: 49738.8203 - val_loss: 50933.3008 - val_mae: 50933.3008
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49840.6562 - mae: 49840.6562 - val_loss: 50927.1602 - val_mae: 50927.1602
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49382.7578 - mae: 49382.7578 - val_loss: 50917.2344 - val_mae: 50917.2344
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49317.5352 - mae: 49317.5352 - val_loss: 50913.2188 - val_mae: 50913.2188
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49378.4453 - mae: 49378.4453 - val_loss: 50904.0508 - val_mae: 50904.0508
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49401.7109 - mae: 49401.7109 - val_loss: 50894.9062 - val_mae: 50894.9062
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49263.3984 - mae: 49263.3984 - val_loss: 50889.1055 - val_mae: 50889.1055
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49490.1445 - mae: 49490.1445 - val_loss: 50887.0508 - val_mae: 50887.0508
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49070.8203 - mae: 49070.8203 - val_loss: 50876.2852 - val_mae: 50876.2852
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49341.1328 - mae: 49341.1328 - val_loss: 50876.4375 - val_mae: 50876.4375
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49934.6562 - mae: 49934.6562 - val_loss: 50865.1719 - val_mae: 50865.1719
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49254.3711 - mae: 49254.3711 - val_loss: 50864.0195 - val_mae: 50864.0195
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49329.6641 - mae: 49329.6641 - val_loss: 50855.2422 - val_mae: 50855.2422
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49527.8633 - mae: 49527.8633 - val_loss: 50851.2227 - val_mae: 50851.2227
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49202.3906 - mae: 49202.3906 - val_loss: 50848.2969 - val_mae: 50848.2969
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49712.0508 - mae: 49712.0508 - val_loss: 50841.9844 - val_mae: 50841.9844
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49171.5312 - mae: 49171.5312 - val_loss: 50840.1055 - val_mae: 50840.1055
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48787.1914 - mae: 48787.1914 - val_loss: 50837.0273 - val_mae: 50837.0273
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49353.6992 - mae: 49353.6992 - val_loss: 50837.2773 - val_mae: 50837.2773
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49411.0898 - mae: 49411.0898 - val_loss: 50840.9102 - val_mae: 50840.9102
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49325.5078 - mae: 49325.5078 - val_loss: 50833.6211 - val_mae: 50833.6211
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49153.0508 - mae: 49153.0508 - val_loss: 50827.0898 - val_mae: 50827.0898
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49834.0703 - mae: 49834.0703 - val_loss: 50822.8516 - val_mae: 50822.8516
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49542.9258 - mae: 49542.9258 - val_loss: 50818.5625 - val_mae: 50818.5625
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49217.7656 - mae: 49217.7656 - val_loss: 50815.7109 - val_mae: 50815.7109
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49308.8711 - mae: 49308.8711 - val_loss: 50811.0391 - val_mae: 50811.0391
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 48985.8555 - mae: 48985.8555 - val_loss: 50808.0430 - val_mae: 50808.0430
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49481.4805 - mae: 49481.4805 - val_loss: 50804.7969 - val_mae: 50804.7969
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 48914.5703 - mae: 48914.5703 - val_loss: 50800.5508 - val_mae: 50800.5508
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 48872.6484 - mae: 48872.6484 - val_loss: 50792.0547 - val_mae: 50792.0547
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 48955.6367 - mae: 48955.6367 - val_loss: 50789.3398 - val_mae: 50789.3398
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49042.6445 - mae: 49042.6445 - val_loss: 50791.4414 - val_mae: 50791.4414
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49475.3320 - mae: 49475.3320 - val_loss: 50786.5156 - val_mae: 50786.5156
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49256.2617 - mae: 49256.2617 - val_loss: 50788.0938 - val_mae: 50788.0938
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49144.1992 - mae: 49144.1992 - val_loss: 50778.8320 - val_mae: 50778.8320
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49363.5508 - mae: 49363.5508 - val_loss: 50781.8359 - val_mae: 50781.8359
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 48772.9961 - mae: 48772.9961 - val_loss: 50772.5156 - val_mae: 50772.5156
Epoch 73/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49128.0039 - mae: 49128.0039 - val_loss: 50769.9922 - val_mae: 50769.9922
Epoch 74/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48601.2852 - mae: 48601.2852 - val_loss: 50766.7109 - val_mae: 50766.7109
Epoch 75/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 48907.6445 - mae: 48907.6445 - val_loss: 50768.6406 - val_mae: 50768.6406
Epoch 76/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49166.7852 - mae: 49166.7852 - val_loss: 50767.6953 - val_mae: 50767.6953
Epoch 77/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49227.4922 - mae: 49227.4922 - val_loss: 50762.4648 - val_mae: 50762.4648
Epoch 78/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 48763.5352 - mae: 48763.5352 - val_loss: 50764.8828 - val_mae: 50764.8828
Epoch 79/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49162.5039 - mae: 49162.5039 - val_loss: 50760.5195 - val_mae: 50760.5195
Epoch 80/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49176.8281 - mae: 49176.8281 - val_loss: 50765.1602 - val_mae: 50765.1602
Epoch 81/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49041.7383 - mae: 49041.7383 - val_loss: 50761.3867 - val_mae: 50761.3867
Epoch 82/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49336.9492 - mae: 49336.9492 - val_loss: 50760.8594 - val_mae: 50760.8594
Epoch 83/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 48834.2188 - mae: 48834.2188 - val_loss: 50759.2773 - val_mae: 50759.2773
Epoch 84/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49264.0938 - mae: 49264.0938 - val_loss: 50760.8828 - val_mae: 50760.8828
Epoch 85/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49352.0469 - mae: 49352.0469 - val_loss: 50758.4648 - val_mae: 50758.4648
Epoch 86/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49165.6680 - mae: 49165.6680 - val_loss: 50749.7891 - val_mae: 50749.7891
Epoch 87/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49218.6016 - mae: 49218.6016 - val_loss: 50747.9844 - val_mae: 50747.9844
Epoch 88/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49043.0938 - mae: 49043.0938 - val_loss: 50752.8555 - val_mae: 50752.8555
Epoch 89/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49309.1914 - mae: 49309.1914 - val_loss: 50749.8594 - val_mae: 50749.8594
Epoch 90/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49575.6172 - mae: 49575.6172 - val_loss: 50745.0547 - val_mae: 50745.0547
Epoch 91/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48613.8438 - mae: 48613.8438 - val_loss: 50744.8359 - val_mae: 50744.8359
Epoch 92/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 48840.6562 - mae: 48840.6562 - val_loss: 50741.7773 - val_mae: 50741.7773
Epoch 93/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49072.1445 - mae: 49072.1445 - val_loss: 50743.7383 - val_mae: 50743.7383
Epoch 94/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49765.1875 - mae: 49765.1875 - val_loss: 50744.5859 - val_mae: 50744.5859
Epoch 95/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48912.2070 - mae: 48912.2070 - val_loss: 50742.2969 - val_mae: 50742.2969
Epoch 96/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49027.4805 - mae: 49027.4805 - val_loss: 50744.5039 - val_mae: 50744.5039
Epoch 97/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49669.3438 - mae: 49669.3438 - val_loss: 50746.5508 - val_mae: 50746.5508
Epoch 98/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49117.1562 - mae: 49117.1562 - val_loss: 50739.9688 - val_mae: 50739.9688
Epoch 99/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49208.1094 - mae: 49208.1094 - val_loss: 50746.3320 - val_mae: 50746.3320
Epoch 100/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49846.6484 - mae: 49846.6484 - val_loss: 50742.0781 - val_mae: 50742.0781

In [97]:
## Load TensorBoard extension

%load_ext tensorboard

In [104]:
%reload_ext tensorboard
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6007 (pid 27876), started 0:00:13 ago. (Use '!kill 27876' to kill it.)

In [108]:
# Step 5: Test the model

test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test_mae:', {test_mae})

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 50945.9609 - mae: 50945.9609
Test_mae: {50739.96875}

In [125]:
model.save("regression_model_.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.